# Anime Analysis

In [7]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./anime_list.csv', sep=';')

In [3]:
df.head()

                                               Title Format    Year  Rating
0                   Fullmetal Alchemist: Brotherhood     TV  2009.0    4.70
1                                         your name.  Movie  2016.0    4.68
2                                     A Silent Voice  Movie  2016.0    4.67
3  Haikyuu!! Karasuno High School vs Shiratorizaw...     TV  2016.0    4.66
4                                 My Hero Academia 3     TV  2018.0    4.65

In [4]:
df.loc[:,'Format'].unique()

array(['TV', 'Movie', 'TV Special', 'Web', 'OVA', 'DVD Special',
       'Music Video', 'Other'], dtype=object)

In [17]:
df['Rating'].isnull().sum()

2672

In [29]:
df.loc[df['Rating'].notnull(),'Rating'].max()

4.7